.fullWidth {
  width: 100%;
}

.modal {
  display: none;
}

.modal__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  opacity: 0;

  transition: opacity 0.2s;
  will-change: opacity;
  background-color: #000;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.modal__wrapper {
  width: 100%;
  z-index: 9999;
  overflow: hidden;
  opacity: 0;

  max-width: 540px;
  max-height: 80vh;

  transition: transform 0.2s, opacity 0.2s;
  will-change: transform;

  display: flex;
  flex-direction: column;

  -webkit-transform: translateY(5%);
  transform: translateY(5%);

  -webkit-overflow-scrolling: touch; /* enables momentum scrolling in iOS overflow elements */
}

.modal__content {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  flex-grow: 1;
}

.modal.is-active {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
}

.modal.is-visible .modal__wrapper {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.modal.is-visible .modal__overlay {
  opacity: 0.65;
}
