footer h1 {
  font-size: 1.38316rem;
}

.footer-line {
  border-top: 30px solid var(--green);
  height: 100px;
  padding: 0 50px;
  margin-top: 200px;

  background-color: var(--dark);
  color: var(--light);
}

.footer-dexter {
  text-align: left;
  align-self: flex-start;
  margin: -175px auto 0 auto;
  max-width: 920px;
}

.footer-main {
  border-bottom: 30px solid var(--green);
  padding: 0 50px 50px 50px;

  background-color: var(--dark);
  color: var(--light);
}

.footer-main-container {
  max-width: 960px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 20px;
  grid-auto-flow: dense;
}

.footer-logos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 50px;
  overflow: hidden;
  margin: 20px 0;
}

.footer-logo {
  display: block;
  width: auto;
  height: 30px;
  margin: 10px 20px;
}

/* Responsive Overrides */

@media (max-width: 600px) {
  .footer-dexter {
    display: none;
  }
}