footer h1 {
  font-size: 1.38316rem;
}

.footer-line {
  height: 100px;
  padding: 0 50px;
  margin-top: 250px;
}

.footer-line::before {
  content: "";
  width: 98%;
  height: 30px;
  border-radius: 20px;
  background-color: var(--green);
  display: block;
  z-index: -1;
}

.footer-dexter {
  text-align: left;
  align-self: flex-start;
  margin: -175px auto 0 auto;
  max-width: 920px;
}

.footer-main {
  padding: 10px 50px;
}

.footer-main-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 40px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 20px;
  grid-auto-flow: dense;
}

.footer-signature {
  flex-wrap: wrap;
  padding: 0 50px;
  overflow: hidden;
  margin: 20px 0;
}
.footer-signature::before {
  content: "";
  width: 98%;
  height: 30px;
  border-radius: 20px;
  background-color: var(--green);
  display: block;
  z-index: -1;
  margin-bottom: 20px;
}

.footer-logo {
  display: block;
  width: auto;
  height: 30px;
  margin: 10px 20px;
}

footer * .community-link {
  display: inherit;
}
footer * .community-button {
  display: none;
}

/* Responsive Overrides */

@media (max-width: 600px) {
  .footer-dexter {
    display: none;
  }
}
