header {
  min-height: 586px;
  margin-bottom: 140px;
  text-align: center;
}

header::after {
  content: "";
  width: 98%;
  height: 30px;
  border-radius: 20px;
  background-color: var(--secondary);
  display: block;
  z-index: -1;
}

header h1 {
  color: var(--primary);
  text-align: center;
}

.header-container {
  margin: 0 auto;
  max-width: 920px;
  min-height: 586px;

  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-flow: dense;
}

.header-charles {
  display: flex;
  justify-content: center;
  align-self: flex-end;
  margin: 20px 0 -125px 0;
}

.header-links {
  margin-top: 25px;
  text-align: center;
}

.header-link-divider {
  padding: 0 2px;
}

header * .community-button {
  display: inherit;
  margin-bottom: 40px;
}
header * .community-link {
  display: none;
}

/* Responsive Overrides */

@media (max-width: 600px) {
  header {
    text-align: center;
  }
  .header-icons {
    justify-content: center;
  }
  .header-charles {
    margin-bottom: -90px;
  }
  .header-charles img {
    height: 300px;
  }
  header * .community-button {
    margin-bottom: 40px;
  }
}
