header {
  border-bottom: 10px solid var(--green);
  height: 120px;
  width: calc(100% - 100px);
  padding: 0 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

a, span {
  display: inherit;
}

.header-charles {
  margin: 20px 0 -125px 0;
}

.button {
  margin-top: 20px;
}

/* Overrides */
.minimal .emailoctopus-form-row {
  margin: 20px 0 0 0;
}
.minimal .emailoctopus-form-wrapper {
  width: 100%;
}