<footer>
  <div class="footer-main-container">
    <div>
      <h2>Charles Burgess</h2>
      <a href="/"><p>Home</p></a>
      <!--a href="/podcast"><p>Podcast</p></a-->
      <a href="/lead-with-joy"><p>Lead with Joy</p></a>
      <a href="/about"><p>About</p></a>
      {# <a href="/consulting"><p>Consulting</p></a> #}
    </div>
    <div>
      <h2>Listen</h2>
      <a
        href="https://podcasts.apple.com/us/podcast/practically-useless/id1552626100"
        ><p>Apple Podcasts</p></a
      >
      <a href="https://open.spotify.com/show/0mtYElrOkNqQpeRIjETiiZ"
        ><p>Spotify</p></a
      >
      <a
        href="https://podcasts.google.com/feed/aHR0cHM6Ly9mZWVkcy5jYXB0aXZhdGUuZm0vcHJhY3RpY2FsbHktdXNlbGVzcy8"
        ><p>Google Podcasts</p></a
      >
      <a href="https://feeds.captivate.fm/practically-useless/"
        ><p>Web ( RSS Feed )</p></a
      >
    </div>
    <div>
      <h2>Connect</h2>
      <a href="/contact"><p>Contact</p></a>
      {% include "_community.html" %}
      <a
        href="https://www.patreon.com/cvburgess"
        rel="noopener noreferrer"
        target="_blank"
      >
        Become a Patron
      </a>
      <!--a
          href="https://www.instagram.com/cvburgess/"
          rel="noopener noreferrer"
          target="_blank"
        >
          <p>Instagram</p>
        </a-->

      <p>Charles Burgess © 2023</p>
    </div>
  </div>
</footer>
