<!doctype html>
<html lang="en">
  <head>
    {{ include "meta.vto" }}
  </head>
  <body onload="addInteractivity();">
    {{ include "header.vto" }}
    <main class="mx-auto max-w-[1200px] px-32 max-sm:px-6 min-h-[calc(100vh-650px)]">
      {{ content }}
    </main>
    {{ include "footer.vto" }}
  </body>
</html>
