<footer class="bg-base-200 text-primary bulge-top mt-32 px-16 py-2 shadow-[0_0_15px_rgba(0,0,0,0.15)] text-center print:hidden">
  <p class="m-8 whitespace-nowrap font-display font-bold">Charles Burgess © {{ new Date().getFullYear() }}</p>
</footer>
