<footer class="bg-base-200 text-primary bulge-top mt-32 px-16 py-2 shadow-xl text-center print:hidden">
  <p class="m-8 whitespace-nowrap font-display font-bold">Charles Burgess © {{ new Date().getFullYear() }}</p>
</footer>
