<!doctype html>
<html lang="en">
  <head>
    {% include "_meta.html" %}
    <link rel="stylesheet" href="{{ '/css/minimal.css' | url }}"/>
  </head>

  <body>
    <div class="minimal-header">
      <div class="minimal-header-charles">
        <img
        height="150"
        src="/img/charles.png"
        alt="Photo of Charles"
        loading="lazy"
/>
      </div>
    </div>
    <main class="minimal">
      {{ content | safe }}
    </main>
  </body>
</html>