<!doctype html>
<html lang="en">
  <head>
    {% include "_meta.html" %}
    <link rel="stylesheet" href="{{ '/css/minimal.css' | url }}"/>
  </head>

  <body>
    {%- include "_header.html" -%}
    <main class="margin-medium-vertical">
      {{ content | safe }}
    </main>
  </body>
</html>