---
layout: base
---
{% from 'components/tagList.njk' import tagList %}

<link rel="stylesheet" href="{{ '/css/post.css' | url }}" />

<div>
  <h1 class="title">{{ title }}</h1>
  {{ tagList(tags) }}
  <hr />
  {{ content | safe }}
</div>

{% button "Back to the Hub", "/lead-with-joy", "full-width" %}

<a class="center margin-large" href="https://github.com/cvburgess/cvburgess.com/blob/main/{{ page.inputPath }}">Suggest an edit on GitHub</a>