---
layout: base
---
<link rel="stylesheet" href="{{ '/css/post.css' | url }}" />

<div>
  <h1 class="title">{{ title }}</h1>
  {% include "_tags.html" %}
  {{ content | safe }}
</div>

{% button "Back to the Hub", "/lead-with-joy", "full-width" %}
