---
layout: base
---
{% from 'components/tagList.njk' import tagList %}

<link rel="stylesheet" href="{{ '/css/post.css' | url }}"/>

<div>
  <h1 class="title">{{ title }}</h1>
  {{ tagList(tags) }}
  <div class="center no-wrap">
    <span class="line outer-line"></span>
    <img class="line post-icon" src="/img/icons/{{ type }}.svg" aria-hidden="true"/>
    <span class="line outer-line"></span>
  </div>
</div>
<div class="post">
  {{ content | safe }}
</div>
</div>

{% button "Back to the Hub", "/lead-with-joy", "full-width back" %}

<a class="center margin-large" href="https://github.com/cvburgess/cvburgess.com/blob/main/{{ page.inputPath }}">Suggest an edit on GitHub</a>