---
layout: base.njk
---
{% from 'components/card.njk' import card %}

<h1>
  {{ title if title else "Results for <strong>{{ term | upper }}" }}
</h1>

<div class="cards stack">
  {%- for post in posts -%}
    {{ card(title = post.title, subtitle = post.subtitle, icon = post.type, url = post.url) }}
  {%- endfor -%}
</div>

<div class="center margin-xlarge-vertical">
  <a href="/lead-with-joy">← Back to the Hub</a>
</div>