{% macro card(title, subtitle = '', icon = '', imgUrl='', url = '') %}
  <div class="card round shadow clickable" onclick="location.href = '{{ url }}'">
    <div class="card-container">
      <div class="center">
        <a href="{{ url }}" aria-hidden="true">
          {% if icon %}<img src="/img/icons/{{ icon }}.svg" aria-hidden="true"/>{% endif %}
          {% if imgUrl %}<img src="{{ imgUrl }}" aria-hidden="true"/>{% endif %}
        </a>
      </div>
      <div class="card-details">
        <a href="{{ url }}" class="margin-none card-title">{{ title }}</a>
        {% if subtitle %}<p class="margin-none max-lines-3">{{ subtitle }}</p>{% endif %}
      </div>
    </div>
  </div>
{% endmacro %}