{% from 'components/tagList.njk' import tagList %}
{% macro card(title, subtitle = '', icon = '', url = '', tags = '') %}
  <div class="card round shadow">
    <div class="card-container">
      <div class="center">
        <a href="{{ url }}">
          <img src="/img/icons/{{ icon }}.svg" />
        </a>
      </div>
      <div class="card-details">
        <a href="{{ url }}">
          <h3 class="margin-none capitalize">{{ title }}</h2>
        </a>
        {{ tagList(tags) }} {% if subtitle
        -%}
        <p class="margin-none max-lines-3">{{ subtitle }}</p>
        {%- endif %}
      </div>
      {%- button "", url, "center margin-none" -%}
    </div>
  </div>
{% endmacro %}
