---
title: Quick Links
layout: minimal
---

<div class="center vertical">
  {% button "Podcast", "https://practically-useless.captivate.fm/listen", "full-width" %}
  {% button "Website", "https://cvburgess.com", "full-width" %}
  {% button "Yoga", "https://clients.mindbodyonline.com/classic/ws?studioid=2858&stype=-7&sView=day&sLoc=0", "full-width" %}
  {% button "Patreon", "https://www.patreon.com/cvburgess", "full-width" %}
  {% include "_email-octopus.html" %}
</div>