---
eleventyImport:
  collections: ["post"]
layout: base
title: Lead With Joy
---
{% from 'components/card.njk' import card %}

<h1 class="title">Lead with Joy</h1>
<p class="center subtitle">Tools, tips, and tricks to help engineering leaders change how we work, together</p>
<p class="center">[Atlas of the heart quote about growing up + applying it to engineering]<br/>

  When people start to lean on you, its a clear sign you've started to become a leader in your organization - ready or not.
</p>

<h1 class="title">Listen to the Podcast</h1>
<p class="center subtitle">Prefer to soak up tidbits while commuting or walking the dog? Grab the pod and live your best life.</p>
<div class="podcast-links center-responsive subtitle">
  <a href="https://podcasts.apple.com/us/podcast/practically-useless/id1552626100?l=es"><span class="tag apple-podcasts">Apple Podcasts</span></a>
  <a href="https://open.spotify.com/show/0mtYElrOkNqQpeRIjETiiZ"><span class="tag spotify">Spotify</span></a>
  <a href="https://podcasts.google.com/feed/aHR0cHM6Ly9mZWVkcy5jYXB0aXZhdGUuZm0vcHJhY3RpY2FsbHktdXNlbGVzcy8"><span class="tag google-podcasts">Google Podcasts</span></a>
  <a href="https://practically-useless.captivate.fm/rssfeed"><span class="tag">Web Player &nbsp;/&nbsp; RSS Feed</span></a>
</div>

<h1 class="title">Categories</h1>
<p class="center subtitle">Here's a bunch of stuff, I hope you like it.</p>

<div class="cards small center">
  {{ card(title = 'Crash Courses', icon = 'crash-course', url = '/tags/crash-course/') }}
  {{ card(title = 'Playbooks', icon = 'playbook', url = '/tags/playbook/') }}
  {{ card(title = 'Guides', icon = 'guide', url = '/tags/guide/') }}
  {{ card(title = 'Deep Dives', icon = 'deep-dive', url = '/tags/deep-dive/') }}
</div>

<h1 class="title">Recent Additions</h1>
<p class="center subtitle">Here's a bunch of stuff, I hope you like it.</p>

<div class="cards stack">
  {%- for post in collections.post | reverse -%}    
    {{ card(title = post.data.title, subtitle = post.data.subtitle, icon = post.data.type, url = post.page.url, tags = post.data.tags) }}
  {%- endfor -%}
</div>

<p class="center margin-xlarge">
  This project is a love letter to all the wonderful people I've gotten to coach, manage, and mentor over the years.<br/>
  I hope it keeps you company on your many adventures ahead.
</p>