---
eleventyImport:
  collections: ["post"]
layout: base
title: Lead With Joy
---
<h1 class="title">Listen to the Podcast</h1>
<div class="podcast-links center-responsive subtitle">
  <a href="https://podcasts.apple.com/us/podcast/practically-useless/id1552626100?l=es"><span class="tag apple-podcasts">Apple Podcasts</span></a>
  <a href="https://open.spotify.com/show/0mtYElrOkNqQpeRIjETiiZ"><span class="tag spotify">Spotify</span></a>
  <a href="https://podcasts.google.com/feed/aHR0cHM6Ly9mZWVkcy5jYXB0aXZhdGUuZm0vcHJhY3RpY2FsbHktdXNlbGVzcy8"><span class="tag google-podcasts">Google Podcasts</span></a>
  <a href="https://practically-useless.captivate.fm/rssfeed"><span class="tag">RSS Feed</span></a>
</div>

  <iframe class="podcast-player" frameborder="no" scrolling="no" seamless src="https://player.captivate.fm/show/f368b04e-dde4-47b9-84fc-116c56251601/" title="Podcast player"></iframe>


<h1 class="title">Resources</h1>
<p class="center subtitle">Here's a bunch of stuff, I hope you like it.</p>

<div class="cards stack">
  {%- for post in collections.post | reverse -%}
    {%- include "_card.html" -%}
  {%- endfor -%}
</div>