---
eleventyImport:
  collections: ["post"]
layout: base
title: Lead With Joy
---

<h1>Lead with Joy Resources</h1>
<p class="center">Here's a bunch of stuff, I hope you like it.</p>
<div class="card-container">
  {%- for post in collections.post | reverse -%}
    {%- include "_card.html" -%}
  {%- endfor -%}
</div>
