---
layout: base
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag | slugify }}/
---

<h1>Category is: <em>{{ tag | upper }}</em></h1>
<div class="cards stack">
  {%- for post in collections[ tag ] | reverse -%}
    {% include "_card.html" %}
  {%- endfor -%}
</div>
