<link rel="stylesheet" href="{{ '/css/community.css' | url }}" />

<div class="button fullWidth">
  <a
    href="#"
    data-modal-trigger
    aria-controls="modal-name"
    aria-expanded="false"
    ><span>Join the Party Line</span></a
  >
</div>

<section class="modal" id="modal-name" data-modal-target>
  <div class="modal__overlay" data-modal-close tabindex="-1"></div>
  <div class="modal__wrapper">
    <div id="community-embed"></div>
  </div>
</section>

<script
  async
  data-community-embed-id="9f27ba46-ba1a-4d6a-bfa7-17d48f47d54d"
  src="https://mgu-embed.community.com/embed.js"
></script>

<script>
  // https://www.cssscript.com/vanilla-modal-window/
  var modal = function () {
    /**
     * Element.closest() polyfill
     * https://developer.mozilla.org/en-US/docs/Web/API/Element/closest#Polyfill
     */
    if (!Element.prototype.closest) {
      if (!Element.prototype.matches) {
        Element.prototype.matches =
          Element.prototype.msMatchesSelector ||
          Element.prototype.webkitMatchesSelector;
      }
      Element.prototype.closest = function (s) {
        var el = this;
        var ancestor = this;
        if (!document.documentElement.contains(el)) return null;
        do {
          if (ancestor.matches(s)) return ancestor;
          ancestor = ancestor.parentElement;
        } while (ancestor !== null);
        return null;
      };
    }

    var settings = {
      speedOpen: 50,
      speedClose: 250,
      activeClass: "is-active",
      visibleClass: "is-visible",
      selectorTarget: "[data-modal-target]",
      selectorTrigger: "[data-modal-trigger]",
      selectorClose: "[data-modal-close]",
    };

    // Toggle accessibility
    var toggleccessibility = function (event) {
      if (event.getAttribute("aria-expanded") === "true") {
        event.setAttribute("aria-expanded", false);
      } else {
        event.setAttribute("aria-expanded", true);
      }
    };

    // Open Modal
    var openModal = function (trigger) {
      // Find target
      var target = document.getElementById(
        trigger.getAttribute("aria-controls")
      );

      // Make it active
      target.classList.add(settings.activeClass);

      // Make body overflow hidden so it's not scrollable
      document.documentElement.style.overflow = "hidden";

      // Toggle accessibility
      toggleccessibility(trigger);

      // Make it visible
      setTimeout(function () {
        target.classList.add(settings.visibleClass);
      }, settings.speedOpen);
    };

    // Close Modal
    var closeModal = function (event) {
      // Find target
      var closestParent = event.closest(settings.selectorTarget),
        childrenTrigger = document.querySelector(
          '[aria-controls="' + closestParent.id + '"'
        );

      // Make it not visible
      closestParent.classList.remove(settings.visibleClass);

      // Remove body overflow hidden
      document.documentElement.style.overflow = "";

      // Toggle accessibility
      toggleccessibility(childrenTrigger);

      // Make it not active
      setTimeout(function () {
        closestParent.classList.remove(settings.activeClass);
      }, settings.speedClose);
    };

    // Click Handler
    var clickHandler = function (event) {
      // Find elements
      var toggle = event.target,
        open = toggle.closest(settings.selectorTrigger),
        close = toggle.closest(settings.selectorClose);

      // Open modal when the open button is clicked
      if (open) {
        openModal(open);
      }

      // Close modal when the close button (or overlay area) is clicked
      if (close) {
        closeModal(close);
      }

      // Prevent default link behavior
      if (open || close) {
        event.preventDefault();
      }
    };

    // Keydown Handler, handle Escape button
    var keydownHandler = function (event) {
      if (event.key === "Escape" || event.keyCode === 27) {
        // Find all possible modals
        var modals = document.querySelectorAll(settings.selectorTarget),
          i;

        // Find active modals and close them when escape is clicked
        for (i = 0; i < modals.length; ++i) {
          if (modals[i].classList.contains(settings.activeClass)) {
            closeModal(modals[i]);
          }
        }
      }
    };

    document.addEventListener("click", clickHandler, false);
    document.addEventListener("keydown", keydownHandler, false);
  };

  modal();
</script>
