<link rel="stylesheet" href="{{ '/css/footer.css' | url }}" />

<footer>
  <div class="footer-line">
    <div class="footer-dexter">
      <img height="250" src="/img/dexter.png" />
    </div>
  </div>
  <div class="footer-main">
    <div class="footer-main-container">
      <div>
        <p>© 2021</p>
      </div>
    </div>
  </div>
  <div class="footer-logos">
    <img class="footer-logo" src="/img/logos/usf.svg" />
    <img class="footer-logo" src="/img/logos/perch.svg" />
    <img class="footer-logo" src="/img/logos/spectrum.svg" />
    <img class="footer-logo" src="/img/logos/sysco.svg" />
    <img class="footer-logo" src="/img/logos/lotus.svg" />
  </div>
</footer>
