<link rel="stylesheet" href="{{ '/css/footer.css' | url }}" />

<footer>
  <div class="footer-line">
    <div class="footer-dexter">
      <img
        height="250"
        src="/img/dexter.png"
        alt="My dog, Dexter"
        loading="lazy"
      />
    </div>
  </div>
  <div class="footer-main">
    <div class="footer-main-container">
      <div>
        <h1>Charles Burgess</h1>
        <a href="/"><p>Home</p></a>
        <a href="/podcast"><p>Podcast</p></a>
        <a href="/about"><p>About</p></a>
        <a href="/contact"><p>Contact</p></a>
        {# <a href="/consulting"><p>Consulting</p></a> #}
      </div>
      <div>
        <h1>Listen</h1>
        <a
          href="https://podcasts.apple.com/us/podcast/practically-useless/id1552626100"
          ><p>Apple Podcasts</p></a
        >
        <a href="https://open.spotify.com/show/0mtYElrOkNqQpeRIjETiiZ"
          ><p>Spotify</p></a
        >
        <a href="/podcast/archive/"><p>Web Player</p></a>
        <a href="https://feeds.captivate.fm/practically-useless/"
          ><p>RSS Feed</p></a
        >
      </div>
      <div>
        <h1>Connect</h1>
        {% include "_community.html" %}
        <a
          href="https://www.patreon.com/cvburgess"
          rel="noopener noreferrer"
          target="_blank"
        >
          Become a Patron
        </a>
        <a href="mailto:hello@cvburgess.com" target="_blank"><p>Email</p></a>
        <!--a
          href="https://www.instagram.com/cvburgess/"
          rel="noopener noreferrer"
          target="_blank"
        >
          <p>Instagram</p>
        </a-->
      </div>
    </div>
  </div>
  <div class="center footer-signature">
    <p>Made with ♡ Charles Burgess © 2023</p>
  </div>
</footer>
