<link rel="stylesheet" href="{{ '/css/footer.css' | url }}" />

<footer>
  <div class="footer-line">
    <div class="footer-dexter">
      <img height="250" src="/img/dexter.png" />
    </div>
  </div>
  <div class="footer-main">
    <div class="footer-main-container">
      <div>
        <h3>Charles Burgess</h3>
        <a href="/"><p>Home</p></a>
        <a href="/podcast"><p>Podcast</p></a>
        <a href="/yoga"><p>Yoga Classes</p></a>
        <!-- <a href="/coaching"><p>Coaching</p></a> -->
        <a href="/favorites"><p>Favorites</p></a>
      </div>
      <div>
        <h3>eBooks</h3>
        <a href="/ebooks/favorites"><p>Favorite Things 2021</p></a>
        <a href="/ebooks/movement"><p>How to Move Every Day</p></a>
        <a href="/ebooks/rituals"><p>Creating Daily Rituals</p></a>
        <a href="/ebooks/relationships"><p>Relationship Starter Kit</p></a>
      </div>
      <div>
        <h3>Connect</h3>
        <a href="mailto:hello@cvburgess.com" target="_blank"><p>Email</p></a>
        <a href="https://www.instagram.com/cvburgess/" target="_blank">
          <p>Instagram</p>
        </a>
        <a href="https://linkedin.com/in/cvburgess/" target="_blank">
          <p>LinkedIn</p>
        </a>
        <a href="https://github.com/cvburgess/" target="_blank">
          Become a Supporter
        </a>
        <!-- <a href="/coaching"><p>Coaching</p></a> -->
      </div>
      <div><p>© 2021</p></div>
    </div>
  </div>
  <div class="footer-logos">
    <img class="footer-logo" src="/img/logos/usf.svg" />
    <img class="footer-logo" src="/img/logos/perch.svg" />
    <img class="footer-logo" src="/img/logos/spectrum.svg" />
    <img class="footer-logo" src="/img/logos/sysco.svg" />
    <img class="footer-logo" src="/img/logos/lotus.svg" />
  </div>
</footer>
