<link rel="stylesheet" href="{{ '/css/header.css' | url }}" />

<header>
  <div class="header-container">
    <div>
      <h1>
        <span class="no-wrap">Hey there,</span>
        <span class="no-wrap">I'm Charles</span>
      </h1>
      <p>
        If you're a curious human that loves to learn, laugh, and light up the
        world then <b>you're in the right place</b>.<br />
        <br />Through podcasts, consulting, and eBooks, I'm bringing practical
        life advice, deep conversations, and plenty of laughs from my
        (mis-)adventures as a Yoga teacher, improv comedian, and software engineer.
        <!-- I am bringing practical life advice, deep conversations, and countless laughs to listeners everywhere. -->
      </p>
      <!-- <p>Learn. Smile. Change your world.</p> -->
      <div class="header-links">
        <a href="/">Home</a>
        <span class="header-link-divider">•</span>
        <a href="/podcast">Podcast</a>
        <span class="header-link-divider">•</span>
        <a href="/yoga">Yoga</a>
        <span class="header-link-divider">•</span>
        <!-- <a href="/coaching">Coaching</a> -->
        <a href="/favorites">Favorites</a>
      </div>

      {% include "_email-octopus.html" %}
    </div>

    <div class="header-charles">
      <img
        height="450"
        src="/img/charles.png"
        alt="Photo of Charles"
        loading="lazy"
      />
    </div>
  </div>
</header>
