<link rel="stylesheet" href="{{ '/css/header.css' | url }}" />

<header>
  <div class="header-container">
    <div>
      <h1>
        <span class="no-wrap">Hey there,</span>
        <span class="no-wrap">I'm Charles</span>
      </h1>
      <p>
        If you want to explore what it's like to <br />
        lead with joy then
        <b>you're in the right place</b>.<br />
        <br />Enjoy deep conversations, practical tools, and some laughs from my
        (mis)adventures as a Yoga teacher, improv comedian, and engineering
        manager as we figure this out, together.
      </p>
      <!-- <p>Learn. Smile. Change your world.</p> -->
      <div class="header-links">
        <a href="/">Home</a>
        <span class="header-link-divider">•</span>
        <a href="/podcast">Podcast</a>
        <span class="header-link-divider">•</span>
        <a href="/about">About</a>
        <span class="header-link-divider">•</span>
        <a href="/contact">Contact</a>
      </div>

      {% include "_community.html" %}
    </div>

    <div class="header-charles">
      <img
        height="450"
        src="/img/charles.png"
        alt="Photo of Charles"
        loading="lazy"
      />
    </div>
  </div>
</header>
