/* Responsive grid with three columns */
.cards {
  margin-top: var(--spacing-xxlarge);
}

.cards > * {
  margin-top: var(--spacing-large);
}

.card {
  display: flex;
  background-color: var(--lighter);
  border: solid 6px var(--lighter);
  overflow: hidden;
  container: card / inline-size;
}

.card-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.card img {
  width: 100px;
  height: 100px;
}

.card .card-details {
  flex: 1;
  margin: 0px var(--spacing-xlarge);
}

.card .button {
  width: 100px;
  margin-top: 0;
}

.card .button > a > span {
  width: auto;
}

.card .tags {
  margin: var(--spacing-medium) 0px;
}

/* Responsive Overrides */
/* @media (max-width: 600px) { */
@container card (max-width: 600px) {
  /* Size down padding for mobile */
  .card.padding-xlarge {
    padding: var(--spacing-large);
  }

  .card-container {
    display: block;
    text-align: center;
  }

  .card img {
    height: 50px;
    width: 50px;
  }

  .card .card-details {
    margin: var(--spacing-large) 0px;
  }

  .card .tags {
    display: none;
  }

  .card-details > p {
    margin-top: var(--spacing-medium);
  }

  .card .button {
    width: calc(100% - var(--spacing-xlarge));
    padding: 0;
    margin: 0;
    display: block;
  }

  .card .button > a > span {
    width: 100%;
  }
}

/* Small Cards Mode */
.cards.small {
  flex-wrap: wrap;
  container: small / inline-size;
}

.cards.small .card {
  min-width: 180px;
  margin: var(--spacing-medium);
}

@container small (max-width: 740px) {
  .cards.small .card {
    width: 100%;
    margin: var(--spacing-medium) 0;
  }
}
