.emailoctopus-form-row > input {
  border-radius: 10px 0 0 10px;
}

.emailoctopus-form-row > button[type="submit"] {
  margin: 0;
  padding: 15px 20px 17px 20px;
  border-radius: 0 10px 10px 0;
}

.emailoctopus-form-row {
  margin: 40px 20px 20px 0;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.emailoctopus-form-row input {
  min-width: 100px;
}

/* Minimal Overrides */
.minimal .emailoctopus-form-row {
  margin: 20px 0 0 0;
}
.minimal .emailoctopus-form-wrapper {
  width: 100%;
}
.minimal .emailoctopus-form-row > input {
  color: var(--text);
}

/* Responsive Overrides */

@media (max-width: 600px) {
  .emailoctopus-form-row {
    justify-content: center;
  }
}
