footer {
  background-color: var(--accent-green);
  color: var(--background);
  border-radius: 32px 32px 0 0;
  margin: 0 var(--spacing-large);
}

footer h2 {
  margin: 0px;
  font-size: 1.75rem;
}

footer a {
  color: var(--background);
}

.footer-main-container {
  max-width: var(--desktop-max-width);
  padding: var(--spacing-xlarge);
  margin: var(--spacing-xxlarge) auto 0px auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: var(--spacing-large);
  grid-auto-flow: dense;
}

/* Responsive Overrides */

@media (max-width: 600px) {
  footer {
    width: auto;
    text-align: center;
    margin: 0;
  }

  .footer-main-container {
    padding: var(--spacing-xlarge) 0;
  }
}

@media (prefers-color-scheme: dark) {
  footer {
    color: var(--text);
    background-color: var(--background-contrast);
  }

  footer a {
    color: var(--accent-green);
  }
}
