footer {
  background-color: var(--dark);
  color: var(--light);
}

footer h2 {
  margin: 0px;
  font-size: 1.38316rem;
}

.footer-main-container {
  max-width: var(--desktop-max-width);
  padding: var(--spacing-xlarge);
  margin: var(--spacing-xxlarge) auto 0px auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: var(--spacing-large);
  grid-auto-flow: dense;
}

footer * .community-link {
  display: inherit;
}
footer * .community-button {
  display: none;
}

/* Responsive Overrides */

@media (max-width: 600px) {
  footer {
    width: auto;
    text-align: center;
  }
}

@media (prefers-color-scheme: dark) {
  footer {
    color: var(--dark);
    background-color: var(--lighter);
  }
}
