header {
  font-weight: var(--extra-bold);
  background-color: var(--primary);
}

header img {
  cursor: pointer;
  margin-bottom: 2px;
}

header a {
  color: var(--background);
}

header .nav {
  margin: 0px auto;
  padding: var(--spacing-large) var(--spacing-xlarge);
  max-width: var(--desktop-max-width);
}

header .nav-name {
  font-size: 2rem;
}

header .nav-link {
  margin-left: var(--spacing-medium);
  font-size: 0.85rem;
}

header hr {
  margin: var(--spacing-large) 0;
  border-color: var(--background);
  opacity: 0.5;
}

@media (prefers-color-scheme: dark) {
  header {
    background-color: var(--background-high-contrast);
  }

  header a {
    color: var(--primary);
  }
}

@media screen and (max-width: 600px) {
  header .nav {
    padding: var(--spacing-large);
  }

  header .nav-name {
    font-size: 1.5rem;
  }

  header .nav-link {
    font-size: 1.2rem;
    margin: 0;
  }
}
