.header {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  color: var(--light);

  background-image: linear-gradient(
      to bottom,
      rgba(70, 66, 57, 0.5),
      rgba(70, 66, 57, 0.5)
    ),
    url(/img/nav-background.jpeg);
  background-image: -webkit-linear-gradient(
      top,
      rgba(70, 66, 57, 0.5),
      rgba(70, 66, 57, 0.5)
    ),
    url(/img/nav-background.jpeg);

  background-size: cover;
  background-repeat: no-repeat;

  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.3);
}

header img {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .header {
    background-size: auto;
    background-position: top;
  }
}

.header a {
  border: var(--border);
  border-color: transparent;
  color: var(--lighter);
}

.header .nav {
  margin: 0px auto;
  padding: var(--spacing-large) var(--spacing-xlarge);
  max-width: var(--desktop-max-width);
}

.header .nav-name {
  font-size: 32px;
}

.header .nav-name:hover {
  color: var(--primary);
}

.header .nav-link {
  margin-left: var(--spacing-medium);
  font-size: 14px;
}

.header .nav-link:hover {
  color: var(--primary);
  border: var(--border);
  border-radius: var(--roundness);
}

header hr {
  border-color: var(--lighter);
  margin: var(--spacing-medium) 0 var(--spacing-large);
}

@media (prefers-color-scheme: dark) {
  .header,
  .header a {
    color: var(--darker);
  }

  header hr {
    border-color: var(--darker);
  }
}

@media screen and (max-width: 600px) {
  .header .nav {
    padding: var(--spacing-large);
  }

  .header .nav-name {
    font-size: 24px;
  }

  .header img {
    height: 16px;
    margin-bottom: 2px;
  }

  .header .nav-link {
    font-size: 18px;
  }
}
