.home-header {
  min-height: 586px;
  margin-bottom: 140px;
  text-align: center;
}

.home-header::after {
  content: "";
  width: 98%;
  height: 30px;
  border-radius: var(--roundness);
  background-color: var(--secondary);
  display: block;
  z-index: -1;
}

.home-header h1 {
  color: var(--primary);
  text-align: center;
  margin-top: 0px;
}

.header-container {
  margin: 0 auto;
  max-width: var(--desktop-max-width);
  min-height: 586px;

  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-flow: dense;
}

.header-charles {
  display: flex;
  justify-content: center;
  align-self: flex-end;
  margin: 20px 0 -125px 0;
}

.header-links {
  margin-top: var(--spacing-large);
  text-align: center;
}

.header-link-divider {
  padding: 0 2px;
}

.home-header * .community-button {
  display: inherit;
  margin-bottom: var(--spacing-large);
}
.home-header * .community-link {
  display: none;
}

/* Responsive Overrides */

@media (max-width: 600px) {
  .home-header {
    margin-top: var(--spacing-large);
    text-align: center;
  }
  .header-icons {
    justify-content: center;
  }
  .header-charles {
    margin-bottom: calc(var(--spacing-xxlarge) * -1);
  }
  .header-charles img {
    height: 300px;
  }
  .home-header * .community-button {
    margin-bottom: var(--spacing-large);
  }
}
