@import url("header.css");
@import url("footer.css");
@import url("tags.css");
@import url("card.css");
@import url("joy.css");
@import url("utils.css");

/* ---------- VARIABLES ---------- */

:root {
  --primary: #ffbc51;
  --secondary: #5ab97f;
  --accent: #ff7a5c;

  --light: #fbfaf3;
  --dark: #002b21;

  --lighter: #fff;
  --darker: #191814;

  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 32px;
  --spacing-xlarge: 64px;
  --spacing-xxlarge: 80px;

  --desktop-max-width: 1080px;
  --roundness: 20px;

  --border: 4px solid var(--primary);
  --shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);

  --regular: 400;
  --medium: 600;
  --bold: 700;
  --extra-bold: 900;
}

/* ---------- DARK MODE ---------- */

@media (prefers-color-scheme: dark) {
  :root {
    --dark: #eee9c9;
    --light: #363530;
    --darker: #fff;
    --lighter: #44423c;
  }
}

/* ---------- HTML ELEMENTS ---------- */

body {
  background-color: var(--light);
  color: var(--dark);
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  font-weight: var(--regular);
  word-wrap: break-word;
  margin: 0;
}

main {
  margin: 0px auto;
  padding: 0 var(--spacing-xlarge);
  max-width: var(--desktop-max-width);
  min-height: calc(100vh - 500px);
}

a {
  text-decoration: none;
  font-weight: var(--bold);
  color: var(--primary);
}

a:hover {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-offset: 4px;
}

p a,
li a {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-style: dotted;
}

hr {
  border: 2px solid var(--dark);
  border-radius: var(--roundness);
  margin: var(--spacing-xlarge) 0;
  width: 100%;
  opacity: 0.25;
}

em {
  color: var(--secondary);
  font-weight: var(--medium);
}

strong {
  color: var(--secondary);
  font-weight: var(--bold);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-family: Poppins, sans-serif;
  font-weight: var(--bold);
  text-rendering: optimizeLegibility;
  line-height: 1.25;
  /* text-transform: uppercase; */
  margin: 0;
}
h1 {
  text-align: center;
  font-size: 2.25rem;
  margin: var(--spacing-xxlarge) 0;
}
h2 {
  font-size: 1.62671rem;
  margin-top: var(--spacing-large);
}
h3 {
  font-size: 1.38316rem;
  margin-top: var(--spacing-large);
}
h4 {
  font-size: 1rem;
  margin-top: var(--spacing-large);
}
h5 {
  font-size: 0.85028rem;
}
h6 {
  font-size: 0.78405rem;
}

textarea {
  font-family: inherit;
}

li {
  margin-top: var(--spacing-small);
}

/* Auto-scale images to fit sections */
section img {
  max-width: 100%;
  height: auto;
}

input,
select,
textarea {
  box-shadow: none;
  font-size: 1rem;
  padding: 15px;
  border-radius: var(--roundness);
  color: var(--dark);
  border: var(--border);
  background-color: transparent;
  min-height: 20px;
  width: 100%;
}
input,
textarea {
  /* accommodate textarea padding quirk */
  width: calc(100% - 30px);
}
input:focus,
select:focus,
textarea:focus {
  outline: none;
}

label {
  display: block;
  font-size: 1.38316rem;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.25;
  text-transform: uppercase;
  font-weight: var(--bold);
  margin: var(--spacing-large) 0 var(--spacing-medium) var(--spacing-medium);
}

button,
submit {
  border: none;
}
button {
  font-size: 1rem;
  color: var(--primary);
  border-radius: var(--roundness);
  text-transform: uppercase;
  font-weight: var(--bold);
  background-color: var(--light);
  border: var(--border);
  padding: var(--spacing-medium) var(--spacing-large);
  min-height: 20px;
}
button :hover {
  color: var(--light);
  background-color: var(--primary);
}

blockquote {
  border-left: var(--border);
  padding-left: var(--spacing-medium);
  margin-left: 0;
  font-style: italic;
}

/* ---------- IFRAME ELEMENTS ---------- */

.podcast-player {
  border: var(--border);
  border-radius: var(--roundness);
  padding: var(--spacing-large);
  width: calc(100% - var(--spacing-large) * 2);
  height: 400px;
  overflow: hidden;
}

.episode {
  height: 200px;
}

/* ---------- RESPONSIVE OVERRIDES ---------- */

@media (max-width: 600px) {
  main {
    padding: 0 25px;
  }
}
