.podcast-links {
  margin: var(--spacing-large) 0px;
}

.podcast-links > * {
  margin: 0px var(--spacing-small);
}

.spotify {
  color: #1db954;
  border-color: #1db954;
}
.spotify:hover {
  background-color: #1db954;
}

.apple-podcasts {
  color: #bc4ae5;
  border-color: #bc4ae5;
}
.apple-podcasts:hover {
  background-color: #bc4ae5;
}

.google-podcasts {
  color: #4285f4;
  border-color: #4285f4;
}
.google-podcasts:hover {
  background-color: #4285f4;
}

@media (max-width: 600px) {
  .podcast-links > * {
    margin: var(--spacing-small) 0px;
  }
}
