.podcast-links {
  margin: var(--spacing-large) 0px;
}

.podcast-links > * {
  margin: 0px var(--spacing-small);
}

@media (max-width: 600px) {
  .podcast-links > * {
    margin: var(--spacing-small) 0px;
  }
}
