.minimal-header {
  border-bottom: 10px solid var(--secondary);
  height: 120px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

a,
span {
  display: inherit;
}

.minimal-header-charles {
  margin: 20px 0 -125px 0;
}

.button {
  margin-top: var(--spacing-medium);
}
