main img {
  max-width: 100%;
  height: auto;
  border-radius: var(--roundness);
  align-self: center;
  margin-top: var(--spacing-small);
  box-shadow: var(--shadow);
}

h4 {
  text-transform: uppercase;
}

.callout {
  margin: var(--spacing-large) 0;
  padding: var(--spacing-medium) var(--spacing-large);
  border-left: var(--border);
}

.callout > p {
  margin: 0;
  font-style: italic;
}

.callout-title {
  color: var(--secondary);
  font-weight: var(--bold);
  font-style: normal !important;
  padding-bottom: var(--spacing-small);
}

.header-anchor {
  text-decoration: none;
}
.header-anchor:hover::before {
  content: "#  ";
  opacity: 50%;
  text-decoration: none;
  display: inline-block;
  white-space: pre;
}

.tags {
  margin: var(--spacing-large) 0px;
  justify-content: center;
}

main p:has(> img) {
  text-align: center;
}

/* Lists */
ul,
ol {
  margin-block: var(--spacing-medium);
  margin-inline-start: var(--spacing-small);
}

/* Nested lists */
li ul,
li ol {
  margin-block: var(--spacing-medium);
  margin-inline-start: calc(var(--spacing-small) * -1);
}

/* Bullet points */
li::marker {
  font-weight: var(--bold);
  font-size: larger;
  color: var(--primary);
  padding-right: var(--spacing-large);
}

ul li::marker {
  content: "\25CE";
}
ul li li::marker {
  content: "\229A";
}

li {
  padding-left: var(--spacing-medium);
}

/* Responsive Overrides */
@media (max-width: 600px) {
  ul,
  ol {
    margin-inline-start: calc(var(--spacing-medium) * -1);
  }

  li ul,
  li ol {
    margin-block: var(--spacing-medium);
    margin-inline-start: calc(var(--spacing-large) * -1);
  }
}
