main img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  align-self: center;
  margin-top: 8px;
}

main .title {
  text-align: center;
}

main p:has(> img) {
  text-align: center;
}

em {
  color: var(--primary);
  font-weight: 700;
}

strong {
  color: var(--primary);
}

/* Lists */
ul,
ol {
  margin-block: 24px;
  margin-inline-start: 8px;
}

/* Nested lists */
li ul,
li ol {
  margin-block: 16px;
  margin-inline-start: -8px;
}

/* Bullet points */
li::marker {
  font-weight: 700;
  font-size: larger;
  color: var(--primary);
  padding-right: 40px;
}

ul li::marker {
  content: "\25CE";
}
ul li li::marker {
  content: "\229A";
}

li {
  padding-left: 16px;
}
