.tag-slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: 16px 0px;
  justify-content: center;
}

.tag-slider::-webkit-scrollbar {
  display: none;
}

.tag {
  white-space: nowrap;
  padding: 4px 12px;
  margin-right: 8px;
  border: 3px solid var(--primary);
  border-radius: 50px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--light);
  line-height: 4;
  background-color: var(--primary);
}
