.tags {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  white-space: nowrap;
  padding: 4px 12px;
  margin-right: var(--spacing-small);
  border: 2px solid var(--primary);
  border-radius: var(--roundness);
  font-size: 12px;
  font-weight: var(--bold);
  text-transform: uppercase;
  color: var(--primary);
  line-height: 2.5;
}

.tag:hover {
  color: var(--light);
  background-color: var(--primary);
}
