---
layout: base
title: Contact
---
{% from 'components/card.njk' import card %}

<h1 class="title">Get in Touch</h1>
<p class="subtitle">Have something you want to share? &nbsp;<strong>I love hearing from you!</strong>
</p>

<div class="cards small center">
  {{ card(title = 'Email', icon = 'email', url = metadata.links.email) }}
  {{ card(title = 'YouTube', icon = 'youtube', url = metadata.links.youtube) }}
  <div class="break-on-wrap"></div>
  {{ card(title = 'GitHub', icon = 'github', url = metadata.links.github) }}
  {{ card(title = 'LinkedIn', icon = 'linkedin', url = metadata.links.linkedin) }}
</div>

<h1 class="title">Get a Hand</h1>
<p class="subtitle">Need something custom-made for your team? &nbsp;<strong>I've got you covered.</strong>
</p>

<div class="cards stack">
  {{ card(title = 'Office Hours', subtitle = 'TODO Want to get some one-on-one coaching?', icon = 'calendar', url = metadata.links.booking) }}
  {{ card(title = 'Speaking Engagements', subtitle = 'TODO Want to work with your team? In person and virtual', icon = 'speaking', url = metadata.links.email) }}
</div>

<h1 class="title">Get Some Warm Fuzzies</h1>
<p class="subtitle">Interested in supporting my work and future projects? &nbsp;<strong>Thank you!</strong>
</p>

<div class="cards small center">
  {{ card(title = 'GH Sponsor', icon = 'github', url = metadata.links.githubSponsors) }}
  {{ card(title = 'patreon', icon = 'patreon', url = metadata.links.patreon) }}
</div>