---
title: ""
layout: base
---

<h1 class="title">Welcome!</h1>
<p class="subtitle">TODO</p>
<p>IDK</p>

<h1 class="title">Projects</h1>
<p class="subtitle">TODO</p>
<p>[Cards representing projects]</p>