---
title: ""
layout: base
---
{% from 'components/card.njk' import card %}

<h1 class="title">Who's This Guy?</h1>
<p class="subtitle">IDK but I guess I do have to write a bio eventually.</p>

<div class="bio full-width center-responsive">
  <p class="margin-large-horizontal">
    A Yoga teacher, improv comedian, and software engineer to name a few hats.
    With a knack for blending these passions and delivering insights with <strong>sass</strong>, <strong>humor</strong>, and <strong>wisdom</strong>, he is bringing practical life advice, deep conversations, and countless laughs to people everywhere through his podcast Practically Useles, <strong>Yoga classes</strong>, and consulting.
  </p>
  <img class="margin-large-horizontal" height="256" src="/img/charles.png" alt="Illustration of Charles Burgess"/>
</div>

<h1 class="title">Projects</h1>
<p class="subtitle">TODO</p>

<div class="cards stack">
  {{ card(title = 'Lead with Joy', subtitle = 'A collection of tools and insights to help engineering leaders change how we work, together.', icon = 'lead-with-joy', url = '/lead-with-joy') }}
</div>