---
title: Quick Links
---
<!doctype html>
<html lang="en">
  <head>
    {% include "meta.njk" %}
  </head>

  <body>
    {%- include "header.html" -%}
    <main class="margin-medium-vertical">
      <div class="stack margin-large-vertical">
        {% button "Website", metadata.url, "full-width" %}
        {% button "Dexter Day Planner", metadata.links.dexter, "full-width" %}
        {% button "Lead with Joy", metadata.links.leadwithjoy, "full-width" %}
        {% button "Yoga", metadata.links.mindbody, "full-width" %}
      </div>
    </main>
  </body>
</html>