---
title: Quick Links
layout: minimal
---

<div class="stack">
  {% button "Podcast", metadata.links.leadWithJoy.captivate, "full-width" %}
  {% button "Website", metadata.url, "full-width" %}
  {% button "Yoga", metadata.links.mindbody, "full-width" %}
  {% button "Patreon", metadata.links.patreon, "full-width" %}
</div>