<h1 class="text-center text-5xl max-sm:text-4xl font-display font-bold mt-48 mb-2">{{ title }}</h1>
<p class="mt-2 mb-16 font-serif italic text-xl text-base-content/60 text-center text-balance">{{ subtitle }}</p>
